html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
}
.password {
    position: relative;
    height: 200px;
}

.copy-btn {
    position: absolute;
    top: 0;
    right: 15px;
}

.passwordContainer {
    border: 1px dashed gray;
    border-radius: 5px;
    height: 200px;
    text-align: center;
    background-color: #e4e4e4;
    padding: 20px;
}

.pwcreds {
    margin-top: 10px;
}

input[type="number"] {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}